.category{
    width: 240px;
    height: 150px;
    border-radius:36px ;
    margin: 2%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.text-position {
    margin-left: 10%;
    margin-top: auto;
    color: whitesmoke;
    font-size:x-large;
    font-weight: 700;
  }

  